body {
    font-family: Arial, sans-serif;
    background-color:"black";
    margin: 0;
    padding: 0;
  }
  
  .page-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    flex-direction: column;
    min-height: 100vh;
  }

  
  .back-link {
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 0.95rem;
    display: inline-block;
  }
  
  .back-link:hover {
    text-decoration: underline;
  }
  
  /* === Top Banner Image === */
.top-banner {
  width: 100%;
  max-height: 80px;
  object-fit: contain;
  display: block;
  margin: 0 auto 10px auto;
  padding: 5px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
